/*
 @ Name：luck弹层组件-pc版
 @ Author：前端老徐
 @ Date：2015/5/20
 @ E-mail：442413729@qq.com
 @ Weibo:http://weibo.com/qdlaoxu
 @ Github:https://github.com/waihaolaoxu
 @ Address:http://www.loveqiao.com/
*/

/*屏蔽滚动条*/
.hideScroll { height: 100%; overflow: hidden; }
/*公共图标样式*/
.luck-ico { background: url(icon.png) no-repeat; height: 14px; width: 14px; }
/*主框架结构*/
.luck-layer{ position:relative; z-index:9999;}
.luck-box { position: fixed; min-width: 240px; max-width:960px; background-color: #fff; box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3); left: 40%; top: 150px; overflow:hidden;}
.luck-full .luck-box { width: 100% !important; height: 100% !important; left: 0 !important; top: 0 !important; max-width:100% !important; }
.luck-box.show { animation: bouncedelay ease .2s; -webkit-animation: bouncedelay ease .3s; }
.luck-move{ cursor:move;}
/*.luck-box.move { opacity: 0.8; }*/
.luck-title { width: 100%; background-color: #eaeaea; border-bottom: 1px solid #d5d5d5; color: #333; font-size: 14px; height: 35px; line-height: 35px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: move; -moz-user-select: none; }
.luck-title span { padding-left: 10px; }
.luck-box .noMove { cursor: default; }
.luck-con { line-height: 22px; word-break: break-all; overflow:hidden; }
.luck-shade { position: fixed; width: 100%; height: 100%; background: #000; left: 0; top: 0; opacity: 0.3; filter:alpha(opacity=30);}
.luck-btn { text-align: center; padding: 10px; background:#f7f7f7; clear:both;}
.luck-yes { background: #5fbfe7; border: 0; color: #fff; height: 30px; padding: 0 20px; cursor: pointer; }
.luck-yes:hover { opacity: 0.9; filter: alpha(opacity=90); }
.luck-no { background: #a6bbce; border: 0; color: #fff; height: 30px; padding: 0 20px; cursor: pointer; margin-left: 10px; }
.luck-no:hover { opacity: 0.9; filter: alpha(opacity=90); }
.luck-close { background-position: -5px -55px; position: absolute; right: 10px; top: 12px; cursor: pointer;}
.luck-close:hover { background-position: -25px -55px; }
.luck-resize { background-position: -45px -55px; position: absolute; right: 34px; top: 12px; cursor: pointer; }
.luck-resize:hover { background-position: -95px -55px; }
.luck-full .luck-resize { background-position: -68px -55px; }
.luck-full .luck-resize:hover { background-position: -118px -55px; }
/*模拟alert*/
.luck-dialog {line-height: 25px;padding:30px 30px 25px 75px; display: block; position: relative;}
.luck-dialog .luck-ico { float: left; margin: -5px 0 0 -50px; width: 40px; height: 40px; background-position: -45px 0 }
.luck-dialog.luck-ico-0{ background:none; padding-left:20px; text-align:center;}
.luck-dialog.luck-ico-0 .luck-ico{ display:none;}
.luck-dialog.luck-ico-1 .luck-ico { background-position: 0 0; }
.luck-dialog.luck-ico-2 .luck-ico { background-position: -93px 0; }
.luck-dialog.luck-ico-3 .luck-ico { background-position: -144px 0; }
.luck-dialog.luck-ico-4 .luck-ico { background-position: -190px 0; }
.luck-dialog.luck-ico-5 .luck-ico { background-position: -238px 0; }
.luck-dialog.luck-ico-6 .luck-ico { background-position: -286px 0; }
/*模拟prompt*/
.luck-prompt{ width:400px; height:100px; padding:5px; display:block; margin:10px; font-size:14px;border:solid 1px #eee;}
/*进场动画*/
@-webkit-keyframes bouncedelay { 0% {
 opacity:0;
-webkit-transform:scale(0)
}
 100% {
 opacity:1;
-webkit-transform:scale(1)
}
}
@keyframes bouncedelay { 0% {
 opacity:0;
transform:scale(0);
-webkit-transform:scale(0)
}
 100% {
 opacity:1 transform:scale(1);
-webkit-transform:scale(1)
}
}
